// Заголовки, общие БЭМ блоки и проче...
a {
    transition: color 0.2s linear;

    &:hover {
        color: $blue_light;
    }
}

._section-title {
    @include adaptiveValue("margin-bottom", 65, 30, 1440, 767, 1);
    font-weight: 600;
    @include adaptiveValue("font-size", 28, 24, 1024, 767, 1);
    color: $blue_dark;
}

h1._section-title {
    padding-bottom: rem(35);
    border-bottom: 1px solid $grey;
}

section {
    @include adaptiveValue("margin-bottom", 144, 40, 1620, 474, 1);
}

.entry-content {
    p {
        text-align: justify;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    a {
        color: $blue;
    }

    ul {
        margin-bottom: rem(30);

        li {
            list-style: inside !important;
            text-align: justify;
            &:not(:last-child) {
                margin-bottom: rem(10);
            }

            &::marker {
                color: $blue;
            }
        }
    }

    ol {
        li {
            list-style: decimal inside;
            text-align: justify;

            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }

        ul {
            margin-bottom: rem(10);
            margin-left: rem(20);
        }
    }

    h2 {
        font-weight: 700;
        font-size: rem(28);
    }

    h2,
    h3,
    h4 {
        margin-bottom: rem(30);
        color: $blue_dark;
    }

    h3 {
        font-weight: 600;
        font-size: rem(22);
    }

    h4 {
        font-size: $fontSize;
    }
}

#dmitrov,
#dmitrov2 {
    fill: $blue;
}

[data-num-place="8"] {
    &._active {
        & + #dmitrov {
            fill: #fff !important;

            & + #dmitrov2 {
                fill: #fff !important;
            }
        }
    }
}
